doctype
html(lang=config.language)
    head
        include head.pug
    body
        include nav.pug

        block header
        block content
        block comment

        include footer.pug
        include footer-scripts.pug
